<div class="footer visible-desktop">
 <div class="watermark"><p>Copyright © 2014 Tomas Kjellqvist | Released under GNU Affero general public license V3 <a href="https://github.com/Forthlight/forthlight">@Github</a> | Developed by; Alexander Lindgren, Carl Rockman and Johan Damm.</p>
</div>
</div>
