/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */

  .center-stage {
    text-align: center;
  }

  .logo {
    color:#fff;
    background: #da5838;
  }

  .account-box {
    text-align: center;
    background:#e8e8e8;
    padding: 20px;
    color: #333;
    margin: 10px;
  }

  .fluid-field {
    padding: 5px;
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 0.5em;
  }

  .login-actions {
    display:inherit;
  }

  /*login alignment fix*/
  @media screen and (min-width: 800px){
    .account-box {
      text-align: left;
    }

    .fluid-field {
      width:100%;
    }

  }

  /*launcher bar types*/
  .showcase {
    padding-top:2%;
    padding-bottom: 1%;
    background: #da5838;
    color:#fff;
  }

  .sub-bar {	 
    padding-top:4%;
    padding-bottom:4%;
  }

  .launch-item {   
    padding: 0 2%;
  }

  .featured-bar {
    text-align: center;
  }

  .wiz {
    background: #da5838;
    color:#fff;
  }

  .presentation {
    background: #333;
    color:#fff;
    text-align: center;
  }

  /*end launcher bar types*/



